.custom-button-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.custom-button {
  background-color: #9f05ff69; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #9f05ff57;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
